*{
    box-sizing: border-box;
}
body{
  margin: 0%;
  font-family: Big Shoulders Stencil Text;
} 
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aparece;
   animation-duration: 1.5s;
   animation-timing-function: linear;
  
}
.fondo{width: 100%;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(11,1fr);
}
.rectangulo{
   display: flex;
   align-items: center;
   justify-content: center;
     background-color: #a6bbd0;
}

.rectangulo:hover .negro{
    animation-name: gira;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.negro{ border-radius: 20px;
    transform: rotateZ(-45deg);
    background-color: #010326;
    width: 25px;
    height: 70px;
    border-right: 10px solid #de899d;
}
.espacio{position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #F2EC94;
    transform: rotateZ(45deg);
    animation-name: late;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:1.5s;
}
.circulo{ display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    background-color: #F291C7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation-name: late;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:2.3s;
   
}
svg{
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
    transform: rotateZ(
    -135deg);
    position: relative;
    width: 300px;
    height: 300px;
   
    animation-name: late;
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:3.3s;
}
.figuras{ transition-duration: 1s;
    transition-property: all;
    z-index: 2;
    position: relative;
}
.sombra{z-index: 9;
    position: absolute;
}
.cuadrado.sombra{ 
    left: -70px;
    top: 144px;
    background-color: #e1e1ab;
}
.circulo.sombra{
    left: -70px;
    top: 144px;
    background-color: #cba6cb;
}
.triangulo.sombra{
    left: -70px;
    top: 144px;
    z-index: 9;
    fill: #78acc3;
}

.nav{ z-index: 100;
    display: flex;
    top: -100px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #010326;
    height: 100px;
    border-right: 10px solid #F2EC94;
    border-bottom: 10px solid #F291C7;
    border-left: 10px solid #5EF2E3;
    position: absolute;
    animation-name: sale;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode:both ;
   
   
}
.cuadrado h2{
    transform: rotate(-45deg);
}
.espacio h2{
    opacity: 0;
    font-size: 50px;
        color:#010326 ;
        font-family: Big Shoulders Stencil Text;
        background-color: white;
        transition: linear;
        transition-property: all;
        transition-duration: 0.5s;
}
.espacio h2:hover{
    opacity: 1;
}


.parte_1{
    display: flex;
    align-items: center;
}
.parte_2{
   padding: 15px;
    display: flex;
    align-items: center;
}
.buscador{
    padding: 15px;
}
.burguer i{
    font-size: 30px;
    color: #cba6cb;
}


.iconos{
    padding: 10px;
}
.uno i{
    font-size: 35px;
 color: #F2EC94;
}
.uno i:hover{
    transition-duration: 0.5s;
    transform: scale(1.3);
}
.dos i{
font-size: 40px;
color:  #F291C7;

}
.dos i:hover{ 
    transition-duration: 0.5s;
    transform: scale(1.3);
    }

svg.i{ 
    transform: rotateZ(-135deg);
    width: 40px;
    height: 40px;
    color: #5EF2E3;
}
svg.i:hover{ opacity: 1;
    transition-duration: 0.5s;
    transform: rotateZ(-135deg);
    transform: scale(1.3);
    }
    #boton{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #010326;
        background-color: #6c90fc; 
    }
    #boton:hover{
     
        transition: linear;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 0px;
       
    }
    .menu.abierto{
        top: 100px;
        left: 0px;
        
    }
    .grande{
        
        transition-duration: 1s;
       transition-property: all;
        
    }
    .amarillo.grande{
        transform: scale(1.5) translateX(700px);
    }
    .rosa.grande{
        transform: scale(1.6) translateX(400px);
    }
    .azul.grande{
        transform: scale(1.6) translateX(150px);
    }
   .oculto{ z-index: -1;
       transition-duration: 1s;
       transition-property: all;
       opacity: 0;
   }
    .menu{
       
        left: -40%;
        z-index: 15;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #010326;
        width: 40%;
        height: calc(100vh - 100px);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    
    .contenido{ top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center ;
        height: 20%;
        width: 100%;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
    }
    .yo .contenido h1{ margin:0px ;
        font-size: 150px;
        color:#F2EC94 ;
        font-family: Big Shoulders Stencil Text;
    }
    .yo .contenido h1:hover{
        color:#010326;
        background-color: #F2EC94;
        transition-duration: 0.5s;
    }
    .cv .contenido h1{ 
        margin:0px ;
        font-size: 150px;
        color:#F291C7;
        font-family: Big Shoulders Stencil Text;
        
    }
    .cv .contenido h1:hover{
        color:#010326;
        background-color: #F291C7;
        transition-duration: 0.5s;
    }
    
    .proyectos .contenido h1{ 
        margin:0px ;
        font-size: 150px;
        color:#5EF2E3 ;
        font-family: Big Shoulders Stencil Text;
    }
    .proyectos .contenido h1:hover{
        color:#010326;
        background-color: #5EF2E3;
        transition-duration: 0.5s;
    }
    @keyframes aparece{
        0%{
        
            transform: scale(0);
        }
        100%{
            transform: scale(1);

        }

    }
    @keyframes late{
        0%{
            transform: scale(1) rotate(45deg);
        }
       
        50%{
            transform: scale(2) rotate(45deg);
        }
        100%{
            transform: scale(1) rotate(45deg);
        }  
    }
    @keyframes latetriangulo{
        0%{
            transform: scale(1)  rotateZ(-135deg);
        }
       
        50%{
            transform: scale(2) rotateZ(-135deg);
        }
        100%{
            transform: scale(1) rotateZ(-135deg);
        }  
    }
 
    @keyframes gira{
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform:rotateZ(360deg);
        }
    } 
    @keyframes sale{
        0%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(100px);
        }
    }
    .menphys{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/descarga.jfif");
       
    }
    .nav-2{
    
        z-index: 100;
        display: flex;
        top: -100px;
        align-items: center;
        justify-content: space-between;
        width:80%;
        background-color: white;
        height: 100px;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
        position: absolute;
        animation-name: sale;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode:both ;
        border-radius: 20px;

       
    }
    .todo-2{
        padding: 20px;
        display: flex;
        flex-direction: row;
        
    }
    .personal-2{
        
        height: 1211px;
        border-radius: 20px;
        margin-top: 150px;
        width: 80%;
        background-color: white;
        padding-bottom: 100px;
        

    }
    .titulo{ display: flex;
        justify-content: space-between;
       
    }
    .titulo-2{
        display: flex;
       justify-content: space-around;
       align-items: center;
        width: 50%;
    }
    .peque{
        
        height: 200px;
        width: 200px;
       display: flex;
       justify-content: flex-end;
    }
    .personal-2 h1{
        width: 50%;
        padding: 80px;
        font-size: 100px;
       
    }
    .personal-2 p{
        font-size: 25px;
    }
    .texto{
        
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 80px;
        width: 50%;
    }
    .imagen{
        padding-right: 20px;
        border-radius: 20px;
        padding-right: 100px;
        height: 460px;
        background-color: turquoise;
        width: 50%;
    }
    .donde{
        margin-top: 150px;
        padding-top: 100px;
        height: 1111px;
        border-radius: 20px;
      
        width: 80%;
        background-color: white;
    }
    .donde h2{
        padding: 100px;
        font-size: 100px;
    }
    



   