*{
    box-sizing: border-box;
}
body{
  margin: 0%;
  font-family: Big Shoulders Stencil Text;
  color: #010326;
} 
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fondo{width: 100%;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(11,1fr);
}
.rectangulo{
   display: flex;
   align-items: center;
   justify-content: center;
     background-color: #a6bbd0;
}

.rectangulo:hover .negro{
    animation-name: gira;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.rectangulo:hover .negro-2{
    animation-name: gira;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.negro{ 
    border-radius: 20px;
    transform: rotateZ(-45deg);
    background-color: #010326;
    width: 25px;
    height: 70px;
    border-right: 8px solid #de899d;
    
}

.espacio{position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrado{ 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #F2EC94;
    transform: rotateZ(45deg);
    animation-name: late;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1s;
}
.circulo{
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    background-color: #F291C7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation-name: late;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:1.3s;
}
.triangulo_1, .triangulo{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
    transform: rotateZ(
    -135deg);
    position: relative;
    width: 300px;
    height: 300px;
    animation-name: latetriangulo;
    animation-duration:0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:1.9s;
}
.figuras{ transition-duration: 1s;
    transition-property: all;
    z-index: 2;
    position: relative;
}
.sombra{z-index: 9;
    position: absolute;
}
.cuadrado.sombra{ 
    left: -70px;
    top: 144px;
    background-color: #e1e1ab;
}
.circulo.sombra{
    left: -70px;
    top: 144px;
    background-color: #cba6cb;
}
.triangulo.sombra{
    left: -70px;
    top: 144px;
    z-index: 9;
    fill: #78acc3;
}

.nav{ z-index: 99;
    display: flex;
    top: -99px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #010326;
    height: 100px;
    border-right: 10px solid #F2EC94;
    border-bottom: 10px solid #F291C7;
    border-left: 10px solid #5EF2E3;
    position: absolute;
    animation-name: sale;
    animation-duration: 1s;
    animation-delay: 1.8s;
    animation-fill-mode:both ;
    border-radius: 20px;
}
.cuadrado h2{
    transform: rotate(-45deg);
}
.espacio h2{
    padding: 5px;
    border-radius: 20px;
    opacity: 0;
    font-size: 50px;
    color:#010326 ;
    font-family: Big Shoulders Stencil Text;
    background-color: white;
    transition: linear;
    transition-property: all;
    transition-duration: 0.5s;
}
.espacio .azul h2{
    padding: 5px;
    left: -40px;
    top: 75px;
    border-radius: 20px;
    height: 67px;
    width: 207px;
    display: flex;
    text-align: center;
    opacity: 0;
    font-size: 50px;
    color:#010326 ;
    font-family: Big Shoulders Stencil Text;
    background-color: white;
    transition: linear;
    transition-property: all;
    transition-duration: 0.5s;
    z-index: 101;
    position: absolute;
}
.espacio:hover h2{
    opacity: 1;
}
.parte_1{
    display: flex;
    align-items: center;
}
.parte_2{
   padding: 15px;
    display: flex;
    align-items: center;
}
.burguer i{
    font-size: 30px;
    color: #cba6cb;
}
.iconos{
    cursor: pointer;
    padding: 10px;
}
.uno i{
    font-size: 35px;
 color: #F2EC94;
}
.uno i:hover{
    transition-duration: 0.5s;
    transform: scale(1.3);
}
.dos i{
font-size: 40px;
color:  #F291C7;
}
.dos i:hover{ 
    transition-duration: 0.5s;
    transform: scale(1.3);
    }
svg.i{ 
    transform: rotateZ(-135deg);
    width: 40px;
    height: 40px;
    color: #5EF2E3;
}
svg.i:hover{ opacity: 1;
    transition-duration: 0.5s;
    transform: rotateZ(-135deg);
    transform: scale(1.3);
    }  
    .menu.abierto{
        top: 100px;
        left: 0px;
    }
    .grande{  
        transition-duration: 1s;
       transition-property: all;  
    }
    .grande h2{
        opacity: 1;
    }
    .grande.azul h2{
        opacity: 1;   
    }
    .amarillo.grande{
        transform: scale(1.5) translateX(700px);
    }
    .rosa.grande{
        transform: scale(1.6) translateX(400px);
    }
    .azul.grande{
        transform: scale(1.6) translateX(50px);
    }
   .oculto{ z-index: -1;
       transition-duration: 1s;
       transition-property: all;
       opacity: 0;
   }
    .menu{
       top: 100px;
        left: -40%;
        z-index: 15;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 40%;
        height: calc(100vh - 100px);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    .contenido{ top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center ;
        height: 20%;
        width: 100%;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
        border-radius: 20px;
        background-color: #010326;
    }
    .mas{
        height: 25%;
    }
    .yo .contenido h1{ margin:0px ;
        font-size: 89px;
        cursor: pointer;
        font-family: Big Shoulders Stencil Text;
    }
    .yo .contenido a:hover{
        color:#010326;
        background-color: #F2EC94;
        transition-duration: 0.5s;
    }
    .cv .contenido h1{ 
        margin:0px ;
        font-size: 89px;
        color:#F291C7;
        font-family: Big Shoulders Stencil Text;
        cursor: pointer;
    }
    .cv .contenido a:hover{
        color:#010326;
        background-color: #F291C7;
        transition-duration: 0.5s;
    }
    .proyectos .contenido h1{ 
        margin:0px ;
        font-size: 89px;
        color:#5EF2E3 ;
        font-family: Big Shoulders Stencil Text;
        cursor: pointer;
    }
    .proyectos .contenido a:hover{
        color:#010326;
        background-color: #5EF2E3;
        transition-duration: 0.5s;
    }
    .yo a{
        text-decoration: none;
        color:#F2EC94;
    }
    .cv a{
        text-decoration: none;
        color:#F291C7;
    }
    .proyectos a{
        text-decoration: none;
        color:#5EF2E3;
    }
    @keyframes late{
        0%{
            transform: scale(1) rotate(45deg);
        }
       
        50%{
            transform: scale(2) rotate(45deg);
        }
        100%{
            transform: scale(1) rotate(45deg);
        }  
    }
    @keyframes latetriangulo{
        0%{
            transform: scale(1)  rotateZ(-135deg);
        }
       
        50%{
            transform: scale(2) rotateZ(-135deg);
        }
        100%{
            transform: scale(1) rotateZ(-135deg);
        }  
    }    
    @keyframes gira{
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform:rotateZ(360deg);
        }
    } 
    @keyframes sale{
        0%{
            top: -100px;
        }
        100%{
            top: 0px;
        }
    }
    .menphys-2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/basic-3.png");
    }
    .nav-2{
        z-index: 99;
        display: flex;
        top: -100px;
        align-items: center;
        justify-content: space-between;
        width:80%;
        background-color: white;
        height: 100px;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
        position: absolute;
        animation-name: sale;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode:both ;
        border-radius: 20px;
    }
    .casa a{
       font-size: 50px;
        color: #6c90fc;
    }
    .todo-2{
        padding: 20px;
        overflow: hidden;    
        display: flex;
        flex-direction: row;
    }
    .personal-2{
        padding: 65px;
        border-radius: 20px;
        margin-top: 150px;
        width: 80%;
        background-color: white;
    }
    .personal-2 h5{
        margin: 0%;
       padding-left: 80px;
        font-size: 50px;
        padding-bottom: 40px;
    }
    .titulo{ display: flex;
        justify-content: space-between;
    }
    .titulo-2{
        display: flex;
       justify-content: space-around;
       align-items: center;
        width: 50%;
    }
    .peque{
        height: 200px;
        width: 200px;
       display: flex;
       justify-content: flex-end;
    }
     .textito {
        width: 50%;
       margin: 0px;
        font-size: 150px;
    }
    .textito-2 {
        width:100%;
        font-size:100px ;
        margin: 0%;
    } .textito-3 {
        width:100%;
        padding:50px;
        font-size:70px ;
        margin: 0%;
    }
    .personal-2 p{
        margin: 0px;
        font-family: Big Shoulders Text;
        padding: 20px;
        font-size: 28px;
    }
    .texto{
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 30px;
        width: 50%;
    }
    .imagen{
        margin-left: 30px;
        border-radius: 20px;        
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    #carouselExampleControls{
        max-width: 500px;
    }
    .carousel-item img{
        border-radius: 20px;
        object-fit: cover;
    }  
    .donde{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        padding: 50px;
        padding-bottom: 100px;
        border-radius: 20px;
        width: 80%;
        background-color: white;flex-direction: column;
    } 
    .donde p{ 
        font-family: Big Shoulders Text;
        border-radius: 20px;
        margin: 0px;
        padding: 20px 100px 50px; font-size: 25px;
    }
    .donde iframe{
        margin: 50px;
        border-radius: 20px;
    }
    .texto-2{
        display: flex;
        padding:30px;
        border-radius: 20px;
        margin-bottom: 20px;
        width: 100%;
    }
    .texto-2 img{
        padding-left: 15px;
        width: 150px;
        object-fit: cover;
        height: 165px;
    }
    .texto-2.club-2 p{
        font-family: Big Shoulders Text;
        padding: 30px;
        font-size: 25px;
    }
    .hobbies{ 
        flex-direction: column;
        display: flex;
        justify-content: center; align-items: center;
        margin-top: 150px;
        margin-bottom: 150px;
        padding: 50px;
        border-radius: 20px;
        width: 80%;
        background-color: white;
    }
    .roller{
        margin-bottom: 25px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding: 50px;
        border-radius: 20px;
    }
    .contenido-2{justify-content: center;
        display: flex;
    }
    .contenido-2 video{
        height: 600px;
        width: 30%;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px; 
    }
    .aparece{
        animation-name: aparece;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    @keyframes aparece{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    .contenido-2 .texto-2{
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 20px;
    }
    .contenido-2 .lista{
        padding: 20px;
        width:50%;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 20px;
    }
    .club{
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding: 20px;
        border-radius: 20px;
    }
    .entresijos{
        display: flex;
        justify-content: center;
        width: 30%;
        position: relative;
    }
   .lectura{ z-index: -1;
        width: 100%;
       position:absolute;
       top: 0px;
       opacity: 0;
     }
    .lectura.amos{
         position: relative;
     }
    .sinopsis{
        margin-bottom: 25px;
        height: 100%;
        width: 100%;
        position: relative;
        perspective: 1000px;
   }
    .sinopsis .libro{
        background-image: url("https://static.fnac-static.com/multimedia/Images/ES/NR/d3/37/16/1456083/1507-1/tsp20180302162546/Mi-vida-en-la-Maleza-de-los-Fantasmas.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s; 
        aspect-ratio: 6/9;
    }
     .libro.moscas{
        background-image: url("https://static.fnac-static.com/multimedia/Images/ES/NR/46/10/06/397382/1507-1/tsp20210119132229/El-senor-de-las-moscas.jpg");
    }
    .libro.altura{
        background-image: url("https://static.fnac-static.com/multimedia/Images/ES/NR/3a/dd/61/6413626/1507-1.jpg");   
    }
    .libro.fahrenheit{
        background-image: url("https://static.fnac-static.com/multimedia/Images/ES/NR/2e/8b/61/6392622/1507-1.jpg");   
    }
    .libro.george{
        background-image: url("https://static.fnac-static.com/multimedia/ES/images_produits/ES/ZoomPE/4/4/9/9788499890944/tsp20130110133933/1984.jpg");   
    }
   .entresijos .lectura.active{
       opacity: 1;
       z-index: 10;
      transition-duration: 0.5s;
   }
     .sinopsis .resumen{
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
        transform-origin: center;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        transform: rotateY(-180deg);
        background-color: #f0eba8;
    }
    .resumen p{
        font-family: Big Shoulders Text;
        font-size: 20px;
    }
    .sinopsis:hover .libro{
        transform: rotateY(180deg);
    }
    .sinopsis:hover .resumen{
        transform: rotateY(0deg);
    }
    li.book{ 
        cursor: pointer;
        transition-duration: 0.5s;
        padding: 35px;
        font-size: 35px;
    }
    li.book:hover{
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        transform: scale(1.05); 
        border-radius: 20px;
        color: white;
        background-color: #F2EC94;
    }
    li.boton{
        cursor: pointer;
        transition-duration: 0.5s;
        padding: 35px;
        font-size: 35px;
    }
    li.boton:hover{
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        transform: scale(1.05); 
        border-radius: 20px;
        color: white;
        background-color: #F2EC94;
    }
    .cv-2{ 
        flex-direction: row;
        flex-wrap:wrap;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        margin-top: 150px;
        background-color: white;
        width: 80%;
        margin-bottom: 150px;
    }
    .cv-2 a{ 
        border-radius: 20px;
        background-color: #F291C7 ;
        color: #010326;
        font-size: 30px;
        padding: 0px 50px 10px;
    }
    .cv-2 a p{
        font-family: Big Shoulders Text;
        margin: 0%;
    }
    .textito-3-cv{
        margin: 20px;
        font-size: 50px;
    }
    .dir-cv a{
        background-color: white;
    }
    .trabajo{
        cursor: pointer;
        margin: 10px;
        border-radius: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color:white;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
    }
    .trabajo:hover{
        transform: scale(1.1);
        transition-duration: 0.3s;
        color: white;
        background-color:#F291C7 ;
    }
    .cabecera{ 
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .cabecera-2{
        width: 30%;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .foto{
         display: flex;
         justify-content: center;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        background-color: #e3e8eb;
        width: 50%;
        margin: 25px;
        border-radius: 20px;
        padding: 20px; 
        object-fit: cover;
    }
    .foto img{
        border-radius: 20px;
        width:500px;
        height: 700px;
    }
    .trabajo h2{
        padding: 20px;
        margin: 0%; text-align: center;
        font-size: 50px;
        font-weight: 800;
    }
    .vitae{ 
        padding: 50px;
        width: 50%;
        margin-left: 10px;
        border-radius: 20px;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        position: relative;
    }
    .contenido-3{
        justify-content: center;
        display: flex;
        padding: 100px 50px;
        width: 50%;
        flex-direction: column;
        align-items: center;
    }
    .contenido-3 .textito-2{
        padding: 50px 0px 0px;
        font-size: 150px;
        text-align: center;
    }
    .contenido-3 h5{
        margin: 0%;
       padding-top: 150px;
        font-size: 50px;
    }
    .info{
        margin-left: 25px;
        margin-right: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .curriculum{
        position: relative;
    }
    .informacion{ 
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        height:450px;
        width: 100%;
        border-radius: 20px;
        background-color: white;
        top: 0px;
        opacity: 0;
        transition-duration: 1s;
    }
 .informacion.experiencia{ 
    flex-direction: column;
    position:relative;
   
} 
.informacion.actitudes{
    flex-wrap: wrap;
}.informacion.educacion {
    flex-wrap: wrap;
}
.informacion p i{
    padding: 5px;
}
.actitudes-2{ 
    
    border-bottom:3px solid #010326 ;
    border-left:3px solid #010326 ;  
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.informacion .actitudes-2 p{
    font-size: 35px;
}
.informacion li{
    margin: 0px;
    padding: 10px 25px;
    font-size: 20px;
}
.informacion p{
    font-family: Big Shoulders Text;
    margin: 0px;
    padding: 10px 25px;
    font-size: 20px;
}
.curriculum .informacion.active{
    opacity: 1;
    z-index: 10;
}
.experi{
    padding: 20px;
    width: 100%;
}
.experi h5{
    margin: 0px;
    font-size: 30px;
    padding: 10px 25px;
}
.descargar{
    padding: 0px 50px 25px;
}
.trabajo-3{
    background-color: #aee3e2;
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 15px solid white;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    transform: translateX(-100vw);
}
.trabajo-3 img{
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}
.trabajo-3 a{
    font-size: 35px;
    color: black;
}
.trabajo-3 p{
    font-family: Big Shoulders Text;
    padding: 20px;
    font-size: 23px;
}
.derecha{
    padding: 50px;
     width: 80%;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: start;
}
.izquierda{
    width: 80%;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}
.aparece-izq{
    animation-name: aparece-izq;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.aparece-dch{
    animation-name: aparece-dch;
    animation-duration: 1s;
    animation-fill-mode: both;
}
@keyframes aparece-izq{
    0%{transform: translateX(-100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
@keyframes aparece-dch{
    0%{transform: translateX(100vw);
    }
    100%{
        transform: translateX(0vw);
    }
}
.triangulo_1_2{ 
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
    transform: rotateZ(
    -135deg);
    position: relative;
    width: 200px;
    height: 200px;
}
.carga{ 
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #a6bbd0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    position: fixed;
}
.cuadrado.cambio{
    width: 100px;
    height: 100px;
    z-index: -100;
    animation-name: late-2;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0s;
}
.circulo.cambio{
    width: 100px;
    height: 100px;
    z-index: -100;
    animation-name: late-2;
    animation-duration:0.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
   animation-delay: 0.3s;
}
.triangulo_1.cambio, .triangulo.cambio{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transform: rotateZ( 
    -135deg);
    position: relative;
    width: 100px;
    height: 100px;
    animation-name: latetriangulo-2;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 0.6s;
}
@keyframes late-2{
    0%{
        transform: scale(1) rotate(45deg);
    }
    
  50%{
    transform: scale(2) rotate(45deg);
  }
 
    100%{
        transform: scale(1) rotate(45deg);
    }  
}

@keyframes latetriangulo-2{
    0%{
        transform: scale(1)  rotateZ(-135deg);
    }
    
    50%{
        transform: scale(2) rotateZ(-135deg);
    }
    
    100%{
        transform: scale(1) rotateZ(-135deg);
    }  
}
.formulario{ display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 150px;
    padding: 50px;
    padding-bottom: 100px;
    border-radius: 20px;
    margin-bottom: 150px;
    width: 80%;
    background-color: white;
}
.escribeme{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
    width: 100%;
    box-shadow:  -4px 6px 5px 0px #607d8b63;
    background-color: white;
    border-radius: 20px;
} 
input::placeholder{
    font-family:Big Shoulders Text ;
}
textarea::placeholder{
    font-size: 20px;
    font-family:Big Shoulders Text ;
}
input#boton-2{
    background-color:#7493e8 ;
    font-size: 25px;
    font-family:Big Shoulders Text ;
}
.formulario-2{
    width: 100%;
}
.exito{
    display: none;
    box-shadow:  -4px 6px 5px 0px #607d8b63;
    border-radius: 20px;
    width: 100%;
}
.escribeme h1{ margin: 0%;
    padding: 30px 30px 30px;
}
.formulario input{
    box-shadow:  -4px 6px 5px 0px #607d8b63;
    outline: none;
    font-size: 20px;
    border: none;
    width: 100%;
     border-radius: 20px;
     height: 80px;
}
label{
    
   padding-bottom: 15px;
   font-size: 30px;
}
select{
    outline: none;
    width: 100%;
    border: none;
}
textarea{
    padding: 10px;
    border: none;
    height: 100px;
    box-shadow:  -4px 6px 5px 0px #607d8b63;
    border-radius: 20px;
}
.dos-1{
    
    padding: 0px 30px 30px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.dir{
    width: 50%;
}
.rellena{display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    
} 
.exito .mensajes-1 p{
    font-size: 30px;
    padding: 15px;
}
#boton-2{
    margin-bottom: 15px;
    width: 60%;
    height: 50px;
    position: relative;
    border-radius: 20px;
}
#boton-2::before {
    content: "Enviame tu comentario";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4180f9;
    color: white;
    display: flex;
    font-size: 15px;
    font-family: Open Sans;
    justify-content: center;
    align-items: center;
}
.dir p{ 
    padding-left: 50px;
    font-size: 30px;
}
.redes{   
    align-items: center;
    display: flex;
    justify-content: center;
}
.redes a{ 
    color: #010326;
    padding: 15px;
    font-size: 60px;
}
@media screen and (max-width: 1700px){
    .figuras{
        transform: scale(0.7);
    }
    .personal-2 p{
        margin: 0px;
        font-family: Big Shoulders Text;
        padding: 10px;
        font-size: 25px;
    }
   .entresijos{
       width: 40%;
   }
    .amarillo.grande{
        transform: scale(1) translateX(750px);
    }
    .rosa.grande{
        transform: scale(1.1) translateX(300px);
    }
    .azul.grande{
        transform: scale(1) translateX(-100px);
    } 
    .yo .contenido h1{
        font-size: 75px;
    }
     .cv .contenido h1{
        font-size: 60px;
    }
    .info{
        margin: 0px;
    }
    .vitae{padding: 20px;
    width: 80%;
    }
    .fecha{
        height: 80%;
    }
    .tipo{
        width: 40%;
    }
    .informacion li{
        padding: 12px 25px;
    }
    .proyectos .contenido h1{
        font-size: 70px;
    }
    .contenido-2 video{
        width: 50%;
    }
    .trabajo-3{
        width: 400px;
        height: 400px;
    }
    .trabajo-3 img{
        padding: 10px;
        border-radius: 20px;
        width: 200px;
    }
    .trabajo-3 a{
        font-size: 30px;
        color: black;
    }
    .trabajo-3 p{
        padding: 10px;
        font-size: 23px;
    }
    .trabajo-3 .textito-2{
        font-size: 60px;
       }
       .contenido-3 .textito-2{
           padding: 100px 0px 0px;
        font-size: 125px;
        text-align: center;
    }
    .resumen p {
        font-size: 18px;
    }
}
@media (min-width:768px) and (max-width:1274px) {
    .negro{
        width: 20px;
        height: 50px;
        border-right: 5px solid #de899d;
    }
    .menu{
        left: -48%;
        width: 48%;
    }
    .amarillo.grande{
        transform: scale(0.7) translateX(550px);
    }
    .rosa.grande{
        transform: scale(0.8) translateX(300px);
    }
    .azul.grande{
        transform: scale(0.8)translateX(50px) ;
    } 
    .figuras{
        transform: scale(0.5);
    }
    .espacio{
        width: 200px;
        height: 300px;
    }
    .espacio h2{
        opacity: 1;
    }
    .espacio .azul h2{
        opacity: 1;
    }
    .yo .contenido h1{
        font-size: 54px;
    }
     .cv .contenido h1{
        font-size: 49px;
    }
    .proyectos .contenido h1{
        font-size:49px;
    }
    .contenido-2 video{
        width: 50%;
    }
    .personal-2{
        padding: 20px;
    }
    .textito{
        font-size: 100px;   
    }
    .entresijos{
        width: 100%;
    }
    .cuadrado.peque{
        width: 100px;
        height: 100px;
    }
    .personal-2 h5{
        font-size: 35px;
    }
    .todo-2{
        display:flex ;
        flex-direction: column;
    }
    .texto{
        padding-left: 20px;
        width: 100%;
    }
    .imagen{
        margin-left: 0px;
         width: 100%;
    }
    iframe{
        width: 550px;
        height: 350px;
    }
    .donde{
        padding: 20px;
    }
    .donde p{
        padding: 20px;
    }
    .textito-2{
        font-size: 75px;
    }
    .hobbies{
        padding: 20px;
    }
    .roller{
        padding: 5px;
    }
    .club{
        padding: 5px;
    }
    .lista{
        padding: 0px;
    }
    .textito-3{
        padding: 20px;
        font-size: 60px;
    }
    .texto-2.club-2 p {
        padding: 20px;
        font-size: 20px;
    }
    .texto-2{
        padding: 0%;
    }
    li.boton{
        font-size: 25px;
        padding: 10px;
    }
    li.book{
        font-size: 25px;
        padding: 10px;
    }
    .resumen p{
        font-size: 14px;
    }
    .contenido-3{
        padding:20px ;
    }
    .contenido-3 .textito-2{
        font-size: 75px;
    }
    .trabajo-3 .textito-2{
     font-size: 40px;
    }
    .foto img{
        width: 287px;
        height: 465px;
    }
    .contenido-3 h5 {
        font-size: 31px;
    }
    .info{
        padding: 20px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    .cabecera-2{
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .trabajo{ margin: 5px;
        width: 25%;
    }
    .trabajo h2{
        font-size: 25px;
    }
    .vitae{
        padding: 20px;
        width: 100%;
    }
    .informacion .actitudes-2 p{
        font-size: 25px;
    }
    .fecha{
        width: 50%;
    }
    .triangulo_1_2{
        width: 100px;
        height: 100px;
    }
    .derecha{
        padding: 25px 0px;
    }
    .izquierda{
        padding: 25px 0px;
    }
    .trabajo-3{
        width: 300px;
        height: 300px;
    }
    .dir p{
       font-size: 25px;
    }
    .formulario{
        margin-top: 75px;
        padding: 20px;
    }
    .dos-1{
        padding: 10px;
    }
    .trabajo-3 img{
        padding: 10px;
        border-radius: 20px;
        width: 150px;
    }
    .trabajo-3 a{
        font-size: 25px;
        color: black;
    }
    .trabajo-3 p{
        margin: 0px;
        padding: 10px;
        font-size: 20px;
    }
    .escribeme{
        box-shadow: none;
    }
}
@media screen and (max-width:767px) {
    .negro{
        width: 15px;
        height: 40px;
        border-right: 4px solid #de899d;
    }
    .menu{
        left: -100%;
        width: 100%;
    }
    .contenedor{
       flex-direction: column;
   }
   .espacio{
       width: 200px;
       height: 150px;
   }
   .espacio h2{
       opacity: 1;
   }
   .espacio .azul h2{
       opacity: 1;
   }
    .figuras{
        transform: scale(0.3);
    }
    .amarillo.grande{
        transform: scale(0.3) translateX(0px);
    }
    .rosa.grande{
        transform: scale(0.3) translateX(0px);
    }
    .azul.grande{
        transform: scale(0.3)translateX(0px) ;
    } 
    .yo .contenido h1{
        font-size: 40px;
    }
     .cv .contenido h1{
        font-size: 40px;
    }
    .proyectos .contenido h1{
        font-size:40px;
    }
    .contenido-2 video{
        width: 50%;
    }
    .personal-2{ 
        width: 85%;
        padding: 10px;
    }
    .textito{
        font-size: 60px;   
    }
    .cuadrado.peque{
        width: 50px;
        height: 50px;
    }
    .personal-2 h5{
        padding: 10px;
        font-size: 25px;
    }
    .personal-2 p {
        margin: 0px;
        padding: 5px;
        font-size: 18px;
    }
    .todo-2{
        padding: 0px;
        display:flex ;
        flex-direction: column;
    }
    .texto{
        padding-right: 0px;
        box-shadow: none;
        padding-left: 0px;
        width: 100%;
    }
    .imagen{
        box-shadow: none;
        margin-left: 0px;
        width: 100%;
    }
    iframe{
        width: 300px;
        height: 200px;
    }
    .texto-2{
        box-shadow: none;
    }
    .donde{
        box-shadow: none;
        margin-bottom: 0px;
        margin-top: 50px;
        width: 90%;
        padding: 10px;
    }
    .donde p{
        font-size: 18px;
        padding: 5px;
    }
    .textito-2{
        font-size: 55px;
    }
    .hobbies{
        box-shadow: none;
        margin-bottom: 50px;
        margin-top: 50px;
        width: 90%;
        padding: 10px;
    }
    .contenido-2{
        display: flex;
        flex-direction: column;
    }
    .contenido-2 video{
        width: 100%;
    }
    .contenido-2 .lista{
        padding: 5px;
        box-shadow: none;
        width: 100%;
        margin: 0px;
    }
    .roller{
        box-shadow: none;
        padding: 0px;
    }
    .textito-3{
        padding: 10px;
        font-size: 57px;
    }
    .texto-2.club-2 p {
        padding: 5px;
        font-size: 18px;
    }
    .texto-2{ display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
    }
    li.boton{
        font-size: 25px;
        padding: 5px;
    }
    li.book{
        font-size: 25px;
        padding: 10px;
    }
    .club{
        box-shadow: none;
        padding: 10px;
    }
    .entresijos{
        width: 100%;
    }
     .sinopsis .resumen{
        padding: 10px;
    }
    .resumen p{
        font-size: 12px;
    }
    .cabecera{
        flex-direction: column;
    }
    .contenido-3{
        width: 100%;
        padding:10px ;
    }
    .cv-2{
        margin-bottom: 75px;
        justify-content: center;
        width:90% ;
    }
    .contenido-3 .textito-2{
        font-size: 75px;
    }
    .contenido-3 h5{
        padding: 10px;
        font-size: 30px;
    } 
    .foto{
        box-shadow: none;
        background-color: white;
        margin: 0px;
        width: 100%;
    }
    .foto img{
        width: 250px;
        height: 400px;
    }
    .info{
        display: flex;
        flex-direction: column;
    }
    .cabecera-2{
        display: flex;
        width: 100%;
        margin: 0px;
    }
    .trabajo{ margin: 5px 2px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .actitudes-2{
        width: 50%;
    }
    .informacion .actitudes-2 p{
        width: 100%;
        font-size: 20px;
    }
    .informacion p {
        margin: 0px;
        padding:19px 10px;
        font-size: 21px;
    }
    .informacion li {
        font-size: 15px;
        padding: 8px;
    }
    .trabajo h2{
        padding: 10px;
        font-size: 13px;
    }
    .vitae{
        box-shadow: none;
        padding: 0px;
        margin: 5px;
        width: 100%;
    }.cv-2 a{
        font-size: 22px;
        padding:0px 20px 20px;
    }
    .triangulo_1_2 {
        width: 50px;
        height: 60px;
    }
    .trabajo-3{
        padding: 10px;
        width: 300px;
        height: 300px;
    }
    .trabajo-3 img{
        padding: 5px 0px;
        border-radius: 20px;
        width: 150px;
    }
    .trabajo-3 a{
        font-size: 25px;
        color: black;
    }
    .trabajo-3 p{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }
    .trabajo-3 svg{
        width: 150px;
        height: 75px;
        padding: 10px 5px;
    }
    .trabajo-3 .textito-2{
        font-size: 35px;
        text-align: center;
       }
    .derecha{ 
        width: 95%;
        padding: 20px 0px;
    }
    .izquierda{
        width: 95%;
    }
    .formulario{
        width: 90%;
        padding: 10px;
        margin: 75px 0px;
        flex-direction: column;
    }
    li.book:hover{
        color: black;
    }
    li.boton:hover{
        color:black
    }
    .rellena{
        width: 100%;
    }
    .dos-1{
        padding: 10px;
    }
    .dir{
        width: 100%;
    }
    .dir p{
        padding: 0px;
        font-size: 25px;
    }
    .contenido-3 .textito-2{
        padding: 20px 0px 0px;
        font-size: 75px;
        text-align: center;
    }
    
    .experi p{
        padding: 10px 5px;
        font-size: 15px;
    }
    .experi h5 {
        margin: 0px;
        font-size: 18px;
        padding: 5px;
    }
    .escribeme{
        box-shadow: none;
    }
}
    



    
    



   