*{
    box-sizing: border-box;
}
body{
    margin: 0px;
} 
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aparece;
   animation-duration: 1.5s;
   animation-timing-function: linear;
  
}
.fondo{width: 100%;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(11,1fr);
}
.rectangulo{
   display: flex;
   align-items: center;
   justify-content: center;
     background-color: #dccde0;
}
.negro{ border-radius: 20px;
    transform: rotateZ(-45deg);
    background-color: #000000a5;
    width: 25px;
    height: 70px;
    border-right: 10px solid #76d0f7;
}
.espacio{position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    z-index: 10;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #dfdf74a8;
    transform: rotateZ(45deg);
    animation-name: late;
    animation-duration: 0.8s;
    animation-iteration-count: 3;
    animation-timing-function: linear;
    animation-delay:1.5s;
}
.circulo{ 
    z-index: 10;
    position: relative;
    background-color: #ee82eec2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation-name: bota;
    animation-duration: 0.8s;
    animation-iteration-count: 3;
    animation-delay:3s;
    animation-direction:alternate;
    animation-timing-function: cubic-bezier(0.43, 0.12, 0, 0.47);
   
}
svg{ z-index: 10;
    transform: rotateZ(
    -135deg);
    position: relative;
    width: 300px;
    height: 300px;
    animation-name: gira;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
    animation-timing-function: linear;
    animation-delay:3.8s;
   
}
.figuras{ transition-duration: 1s;
    transition-property: all;
    z-index: 2;
    position: relative;
}
.sombra{z-index: 9;
    position: absolute;
}
.cuadrado.sombra{ 
    left: -70px;
    top: 144px;
    background-color: #e1e1ab;
}
.circulo.sombra{
    left: -70px;
    top: 144px;
    background-color: #cba6cb;
}
.triangulo.sombra{
    left: -70px;
    top: 144px;
    z-index: 9;
    fill: #78acc3;
}

.nav{display: flex;
    top: -100px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: rgb(73, 73, 73);
    height: 100px;
    border-right: 10px solid #dfdf74;
    border-bottom: 10px solid #ee82ee;
    border-left: 10px solid #76d0f7;
    position: absolute;
   
   
}

.parte_1{
    display: flex;
    align-items: center;
}
.parte_2{
   padding: 15px;
    display: flex;
    align-items: center;
}
.buscador{
    padding: 15px;
}
.burguer i{
    font-size: 30px;
    color: #cba6cb;
}
.buscador label{
    font-size: 30px;
    color: #cba6cb;
}

.iconos{
    padding: 10px;
}
.uno i{
    font-size: 35px;
 color: #dfdf74;
}
.uno i:hover{
    transition-duration: 0.5s;
    transform: scale(1.3);
}
.dos i{
font-size: 40px;
color:  #ee82ee;

}
.dos i:hover{ 
    transition-duration: 0.5s;
    transform: scale(1.3);
    }

svg.i{ 
    transform: rotateZ(-135deg);
    width: 40px;
    height: 40px;
    color: #76d0f7;
}
svg.i:hover{transition-duration: 0.5s;
    transform: rotateZ(-135deg);
    transform: scale(1.3);
    }
    #boton{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #252425;
        background-color: #dc74df; 
    }
    #boton:hover{
     
        transition: linear;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 0px;
       
    }
    .menu.abierto{
        top: 100px;
        left: 0px;
        
    }
    .grande{
        
        transition-duration: 1s;
       transition-property: all;
        
    }
    .amarillo.grande{
        transform: scale(1.5) translateX(700px);
    }
    .rosa.grande{
        transform: scale(1.6) translateX(400px);
    }
    .azul.grande{
        transform: scale(1.6) translateX(150px);
    }
   .oculto{ z-index: -1;
       transition-duration: 1s;
       transition-property: all;
       opacity: 0;
   }
    .menu{
       
        left: -40%;
        z-index: 15;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(73, 73, 73);
        width: 40%;
        height: calc(100vh - 100px);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    
    .contenido{ top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center ;
        height: 20%;
        width: 100%;
        border-right: 10px solid #dfdf74;
        border-bottom: 10px solid #ee82ee;
        border-left: 10px solid #76d0f7;
    }
    .yo .contenido h1{ margin:0px ;
        font-size: 150px;
        color:#dfdf74 ;
        font-family: Big Shoulders Stencil Text;
    }
    .yo .contenido h1:hover{
        color:rgb(73, 73, 73);
        background-color: #dfdf74;
        transition-duration: 0.5s;
    }
    .cv .contenido h1{ 
        margin:0px ;
        font-size: 150px;
        color:#ee82ee;
        font-family: Big Shoulders Stencil Text;
        
    }
    .cv .contenido h1:hover{
        color:rgb(73, 73, 73);
        background-color: #ee82ee;
        transition-duration: 0.5s;
    }
    
    .proyectos .contenido h1{ 
        margin:0px ;
        font-size: 150px;
        color:#76d0f7 ;
        font-family: Big Shoulders Stencil Text;
    }
    .proyectos .contenido h1:hover{
        color:rgb(73, 73, 73);
        background-color: #76d0f7;
        transition-duration: 0.5s;
    }
    @keyframes aparece{
        0%{
        
            transform: scale(0);
        }
        100%{
            transform: scale(1);

        }

    }
    @keyframes late{
        0%{
            transform: scale(1) rotate(45deg);
        }
        50%{
            transform: scale(1.5) rotate(45deg);
        }
        100%{
            transform: scale(1) rotate(45deg);
        }  
    }
    @keyframes bota{
        0%{
           transform: translateY(0px);
        }
        
        100%{
            transform: translateY(100px);
        }
        50%{
            transform:translateY(50px);
        }
    }
    @keyframes gira{
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform:rotateZ(360deg);
        }
    }