*{
    box-sizing: border-box;
}
body{
  margin: 0%;
  font-family: Big Shoulders Stencil Text;
} 
.contenedor{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: aparece;
   animation-duration: 1s;
   animation-timing-function: linear;
  
}
.fondo{width: 100%;
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(11,1fr);
}
.rectangulo{
   display: flex;
   align-items: center;
   justify-content: center;
     background-color: #a6bbd0;
}

.rectangulo:hover .negro{
    animation-name: gira;
    animation-duration: 0.5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.negro{ border-radius: 20px;
    transform: rotateZ(-45deg);
    background-color: #010326;
    width: 25px;
    height: 70px;
    border-right: 10px solid #de899d;
}
.espacio{position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cuadrado{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #F2EC94;
    transform: rotateZ(45deg);
    animation-name: late;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:1s;
}
.circulo{ display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    background-color: #F291C7;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    animation-name: late;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:1.6s;
   
}
.triangulo_1, .triangulo{
    display: flex;
    justify-content: center;
    align-items: center;
     z-index: 10;
    transform: rotateZ(
    -135deg);
    position: relative;
    width: 300px;
    height: 300px;
   
    animation-name: latetriangulo;
    animation-duration:0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay:2.4s;
}
.figuras{ transition-duration: 1s;
    transition-property: all;
    z-index: 2;
    position: relative;
}
.sombra{z-index: 9;
    position: absolute;
}
.cuadrado.sombra{ 
    left: -70px;
    top: 144px;
    background-color: #e1e1ab;
}
.circulo.sombra{
    left: -70px;
    top: 144px;
    background-color: #cba6cb;
}
.triangulo.sombra{
    left: -70px;
    top: 144px;
    z-index: 9;
    fill: #78acc3;
}

.nav{ z-index: 100;
    display: flex;
    top: -100px;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background-color: #010326;
    height: 100px;
    border-right: 10px solid #F2EC94;
    border-bottom: 10px solid #F291C7;
    border-left: 10px solid #5EF2E3;
    position: absolute;
    animation-name: sale;
    animation-duration: 1s;
    animation-delay: 2.9s;
    animation-fill-mode:both ;
    border-radius: 20px;
   
   
}
.cuadrado h2{
    transform: rotate(-45deg);
}
.espacio h2{
    opacity: 0;
    font-size: 50px;
        color:#010326 ;
        font-family: Big Shoulders Stencil Text;
        background-color: white;
        transition: linear;
        transition-property: all;
        transition-duration: 0.5s;
}
.espacio h2:hover{
    opacity: 1;
}


.parte_1{
    display: flex;
    align-items: center;
}
.parte_2{
   padding: 15px;
    display: flex;
    align-items: center;
}
.buscador{
    padding: 15px;
}
.burguer i{
    font-size: 30px;
    color: #cba6cb;
}


.iconos{
    padding: 10px;
}
.uno i{
    font-size: 35px;
 color: #F2EC94;
}
.uno i:hover{
    transition-duration: 0.5s;
    transform: scale(1.3);
}
.dos i{
font-size: 40px;
color:  #F291C7;

}
.dos i:hover{ 
    transition-duration: 0.5s;
    transform: scale(1.3);
    }

svg.i{ 
    transform: rotateZ(-135deg);
    width: 40px;
    height: 40px;
    color: #5EF2E3;
}
svg.i:hover{ opacity: 1;
    transition-duration: 0.5s;
    transform: rotateZ(-135deg);
    transform: scale(1.3);
    }
    #boton{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #010326;
        background-color: #6c90fc; 
    }
    #boton:hover{
     
        transition: linear;
        transition-property: all;
        transition-duration: 1s;
        border-radius: 0px;
       
    }
    .menu.abierto{
        top: 100px;
        left: 0px;
        
    }
    .grande{
        
        transition-duration: 1s;
       transition-property: all;
        
    }
    .amarillo.grande{
        transform: scale(1.5) translateX(700px);
    }
    .rosa.grande{
        transform: scale(1.6) translateX(400px);
    }
    .azul.grande{
        transform: scale(1.6) translateX(150px);
    }
   .oculto{ z-index: -1;
       transition-duration: 1s;
       transition-property: all;
       opacity: 0;
   }
    .menu{
       
        left: -40%;
        z-index: 15;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 40%;
        height: calc(100vh - 100px);
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: linear;
    }
    
    .contenido{ top: 0px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center ;
        height: 20%;
        width: 100%;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
        border-radius: 20px;
        background-color: #010326;
    }
    .mas{
        height: 40%;
    }
    .yo .contenido h1{ margin:0px ;
        font-size: 100px;
        color:#F2EC94 ;
        font-family: Big Shoulders Stencil Text;
    }
    .yo .contenido a:hover{
        color:#010326;
        background-color: #F2EC94;
        transition-duration: 0.5s;
    }
    .cv .contenido h1{ 
        margin:0px ;
        font-size: 100px;
        color:#F291C7;
        font-family: Big Shoulders Stencil Text;
        
    }
    .cv .contenido h1:hover{
        color:#010326;
        background-color: #F291C7;
        transition-duration: 0.5s;
    }
    
    .proyectos .contenido h1{ 
        margin:0px ;
        font-size: 100px;
        color:#5EF2E3 ;
        font-family: Big Shoulders Stencil Text;
    }
    .proyectos .contenido h1:hover{
        color:#010326;
        background-color: #5EF2E3;
        transition-duration: 0.5s;
    }
    .yo a{
        text-decoration: none;
        color:#F2EC94;
    }
    @keyframes aparece{
        0%{
        
            transform: scale(0);
        }
        100%{
            transform: scale(1);

        }

    }
    @keyframes late{
        0%{
            transform: scale(1) rotate(45deg);
        }
       
        50%{
            transform: scale(2) rotate(45deg);
        }
        100%{
            transform: scale(1) rotate(45deg);
        }  
    }
    @keyframes latetriangulo{
        0%{
            transform: scale(1)  rotateZ(-135deg);
        }
       
        50%{
            transform: scale(2) rotateZ(-135deg);
        }
        100%{
            transform: scale(1) rotateZ(-135deg);
        }  
    }
 
    @keyframes gira{
        0%{
            transform: rotateZ(0deg);
        }
        100%{
            transform:rotateZ(360deg);
        }
    } 
    @keyframes sale{
        0%{
            top: -100px;
        }
        100%{
            top: 0px;

        }
    }
    .menphys{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url("../img/descarga.jfif");
       
    }
    .nav-2{
    
        z-index: 100;
        display: flex;
        top: -100px;
        align-items: center;
        justify-content: space-between;
        width:80%;
        background-color: white;
        height: 100px;
        border-right: 10px solid #F2EC94;
        border-bottom: 10px solid #F291C7;
        border-left: 10px solid #5EF2E3;
        position: absolute;
        animation-name: sale;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode:both ;
        border-radius: 20px;

       
    }
    .casa a{
       font-size: 50px;
    color: #6c90fc;
    }
    .todo-2{overflow: hidden;
        padding: 20px;
        display: flex;
        flex-direction: row;
        
    }
    .personal-2{
        
        
        border-radius: 20px;
        margin-top: 150px;
        width: 80%;
        background-color: white;
        padding-bottom: 100px;
        

    }
    .titulo{ display: flex;
        justify-content: space-between;
       
    }
    .titulo-2{
        display: flex;
       justify-content: space-around;
       align-items: center;
        width: 50%;
    }
    .peque{
        
        height: 200px;
        width: 200px;
       display: flex;
       justify-content: flex-end;
    }
     .textito {
        width: 50%;
        padding: 100px;
        font-size: 100px;
       
    }
    .textito-2 {
        width:100%;
        padding:100px 100px 100px 80px;
        font-size:100px ;
        margin: 0%;
       
    } .textito-3 {
        width:100%;
        padding:100px 100px 25px 80px;
        font-size:70px ;
        margin: 0%;
       
    }
    .personal-2 p{
        padding: 15px;
        font-size: 25px;
    }
    .texto{
        
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 80px;
        width: 50%;
    }
    .imagen{
       margin-left: 30px;
        padding-right: 20px;
        border-radius: 20px;        
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        
        width: 40%;
        
        background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
        padding: 20px;
    }
    .carousel-item img{
        border-radius: 20px;
        height: 1000px;
        
    }
    
    .donde{flex-direction: column;
        display: flex;
        justify-content: center; align-items: center;
        margin-top: 150px;
       
        padding-bottom: 100px;
        border-radius: 20px;
      
        width: 80%;
        background-color: white;
    } 
    
  
    .donde p{ 
       
        border-radius: 20px;
        margin: 0px;
        padding: 20px 100px 50px; font-size: 25px;
    }
    .donde iframe{
       margin: 50px;
        border-radius: 20px;
    }
    .texto-2{
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 20px;
        width: 89%;
    }
    .hobbies{ 

        flex-direction: column;
        display: flex;
        justify-content: center; align-items: center;
        margin-top: 150px;
       margin-bottom: 150px;
        height: 2500px;
        border-radius: 20px;
        
        width: 80%;
        background-color: white;
    }
    .roller{
        margin-bottom: 25px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 20px;
        width: 89%;
    }
    .contenido-2{
        display: flex;
    }
    .contenido-2 video{
        width: 33%;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px;
    }
    .contenido-2 .texto-2{
        width: 33%;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 20px;
    }
    .contenido-2 .lista{
        width: 33%;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        margin-bottom: 25px;
        margin-left: 20px;
    }
    .club{
        box-shadow: -4px 6px 5px 0px #607d8b63;
        padding-right: 20px;
        border-radius: 20px;
        padding-left: 20px;
        width: 89%;
    }
    .entresijos{
        position: relative;
    }
   .lectura{ z-index: -1;
        width: 33.3%;
       position:absolute;
       top: 0px;
       opacity: 0;
     }
    .lectura.amos{
         position: relative;
     }
    .sinopsis{margin: 0px 0px 25px 20px;
    height: 100%;
    width: 100%;
     position: relative;
    perspective: 1000px;
   }
    .sinopsis .libro{
        background-image: url("https://www.siruela.com/libros/grandes/9788498412093_L38_04_l.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 480px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
       
    }
     .libro.moscas{
        background-image: url("https://static.wikia.nocookie.net/percyjacksonylosdiosesdelolimpo/images/c/cb/ElSe%C3%B1ordelasMoscas.jpg/revision/latest/scale-to-width-down/590?cb=20150703162341&path-prefix=es");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 480px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
    }
    .libro.altura{
        background-image: url("https://images-na.ssl-images-amazon.com/images/I/41hjqC07ZoL._SY264_BO1,204,203,200_QL40_ML2_.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 480px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
    }
    .libro.fahrenheit{
        background-image: url("https://resumiendolo.com/wp-content/uploads/2018/02/Fahrenheit-451-683x1024.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 480px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
    }
    .libro.george{
        background-image: url("https://images-na.ssl-images-amazon.com/images/I/81ZVmNRdoRL.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 660px;
        width: 480px;
        box-shadow: -4px 6px 5px 0px #607d8b63;
        border-radius: 20px;
        position: relative;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
    }
    
   .entresijos .lectura.active{
       opacity: 1;
       z-index: 10;
   }
    
     .sinopsis .resumen{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 660px;
        width: 480px;
        left: 0px;
        top: 0px;
        border-radius: 20px;
        transition-property: all;
        transition-timing-function: linear;
        transition-duration: 1s;
        transform-origin: center;
        backface-visibility: hidden;
        transform: rotateY(-180deg);
        background-color: #f0eba8;
    }
    .sinopsis:hover .libro{
        transform: rotateY(180deg);
    }
    .sinopsis:hover .resumen{
        transform: rotateY(0deg);
    }
    li.book{
        padding: 35px;
        font-size: 35px;
    }
    li.book:hover{
        color: white;
        background-color: #F2EC94;
    }
    .cv-2{ 
        flex-direction: row;
        flex-wrap:wrap;
        display: flex;
        justify-content: space-between;
        border-radius: 20px;
        margin-top: 150px;
        background-color: white;
        width: 80%;
        
        margin-bottom: 150px;
    }
    .trabajo{margin: 10px;
        border-radius: 20px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background-color:white;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
    }
    .trabajo:hover{
      color: white;
        background-color:#F291C7 ;
    }

    .cabecera{ 
    
        justify-content: center;
        display: flex;
        width: 100%;

    }
    .cabecera-2{
     
        
        width: 50%;
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 25px;
    }
    .foto{
         display: flex;
         justify-content: center;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        background-color: #e3e8eb;
        width: 50%;
        margin: 25px;
    border-radius: 20px;
        padding: 20px; 
    }
    .foto img{
        border-radius: 20px;
        width:500px;
        height: 700px;
    }
    .trabajo h2{
        padding: 20px;
        margin: 0%; text-align: center;
        font-size: 50px;
        font-weight: 800;
    }
    .vitae{
        
        position: relative;
    }
    .conteido-3{
        width: 50%;
    }
    .contenido-3 h5{
        margin: 0%;
       padding-left: 80px;
        font-size: 50px;
    }
    .info{
        margin-bottom: 50px;
        margin-left: 25px;
        margin-right: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .informacion{
        position:relative;
        height:450px;
        width: 100%;
        border-radius: 20px;
        box-shadow:  -4px 6px 5px 0px #607d8b63;
        background-color: white;
    }
.datos{ top: 0px;
    position: absolute;
    opacity: 0;
}
.mostrar{
    opacity: 1;
}
.otro{
    padding-right: 100px;
    padding-top: 100px;
}
.trabajo-3{
    padding: 25px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   background-color: white;
border-radius: 50%;
    width: 500px;
    height: 500px;
}
.derecha{
    padding: 50px;
     width: 80%;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: start;
}
.izquierda{
    width: 80%;
    align-items: flex-end;
display: flex;
justify-content: flex-end;
}


    
    



   